<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <script src="https://kit.fontawesome.com/d5031703bf.js" crossorigin="anonymous"></script>
    <script defer src="../index.js"></script>
    <title>Document Translator</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="title">Upload a document to begin (.doc, .docx)</h1>
        </div>
        <div class="form">
            <input hidden class="item" id="file-select-hidden" type="file">
            <button class="item" id="upload-file">Select File</button>
            <select disabled class="item" id="language-select">
                <option selected value="default">Languages</option>
            </select>
            <button type="button" disabled class="item" id="translate">Translate</button>
        </div>
        <% if (files.length > 0) { %>
            <div class="recents-container">
                <h2>Recents</h2>
                <div class="recents">
                    <% for (const file of files) { %>   
                        <div id="<%= file.id %>" class="wrapper">
                            <i class="fas fa-file-word fa-7x"></i>
                            <p> <%=`${file.filename}.${file.ext} (${file.targetLang})` %></p>
                        </div>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>