*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgba(240, 128, 128, 0.623);
    color: rgb(128, 0, 0);
    max-width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: rgba(220, 20, 60, 0.664);
    font-size: 3.5vh;
}

.content {
    margin: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    cursor: pointer;
    margin: 1vh;
    border: 1px solid rgb(128, 0, 0);
    width: 24vw;
    height: 8vh;
    color: rgb(128, 0, 0);
    background-color: rgb(250, 128, 114);
    outline: none;
    font-size: 3.5vh;
    border-radius: 5px;
    text-align-last: center;
}

.item:disabled {
    cursor: default;
    color: rgba(110, 110, 110, 0.445);
    background-color: rgba(255, 255, 255, 0.184);
    border: 1px solid rgb(110, 110, 110)
}

.item:disabled:hover {
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0.184);
}   

.item:hover {
    background-color: rgb(255, 102, 85);
}

.document-container {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
}

.document {
    padding: 2vw;
    margin-top: 2vw;
    background-color: white;
    height: auto;
    width: 48vw;
    border: 3px solid rgb(128, 0, 0);
}

h2 {
    text-align: center;
    font-size: 4vh;
    margin-top: 2vh;
    margin-bottom: -2vh;

}

.left .document {
    margin-left: .5vw;
}

.right .document {
    margin-right: .5vw;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav-item {
    border: 2px solid rgb(128, 0, 0);
    border-top: none;
    margin-top: -.1vh;
    border-radius: 0px;
}

.nav-item.left {
    border-right: none;
    margin-right: 0vh;
    border-bottom-left-radius: 5px;
}

.nav-item.right {
    border-left: none;
    margin-left: 0vh;
    border-bottom-right-radius: 5px;
}

.sticky {
    top: 0;
    position: fixed;
    width: 100%;
}

.sticky .nav-item.left {
    margin-right: 1vw;
    border-right: 2px solid rgb(128, 0, 0)
}

.sticky .nav-item.right {
    margin-left: 1vw;
    border-left: 2px solid rgb(128, 0, 0)
}